*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body {
  display: flex;
  justify-content: center;
} */

.container {
  width: 1200px;
}
.container-wraper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.section-box-1 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0px;
}

.section-box-1_text {
  width: 696px;
}

.header .part {
  flex: 1;
  display: flex;
}

.half-one {
  justify-content: space-between;
}

.half-two {
  justify-content: center;
}

.header ul li {
  margin-left: 50px;
}

.half-one div:nth-child(2) {
  display: flex;
  align-items: center;
}

.tile {
  width: 270px;
  margin-left: 30px;
}

.tile:nth-child(1) {
  margin-left: 0;
}

.first-content-block {
  display: flex;
  justify-content: center;
}

.second-content-block .tile {
  width: 370px;
}

.third-content-block {
  height: 648px;
  background-color: var(--secondary-bacground-color);
}
.content-block {
  /* margin-top: 94px; */
}

.footer-contact {
  display: flex;
  padding: 60px 0px;
  flex-direction: column;
  align-items: flex-start;
  height: 252px;
}

.logo-footer {
  padding-bottom: 20px;
}

.foter-adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
